@import "mixins"

.carousel
  @media(max-width 999px)
    display none
  @media(min-width 1000px)
    width 100%
    centerize()
    
    .carousel-inner .image
      width 100%
      margin-bottom -20px
      background-position center center
      background-size cover
      border 0
    
    .carousel-button
      position relative
      top -60px
    
    .carousel-title
      padding-left 20px
      position relative
      top -46px // Div height
      color #fff
      opacity 0.8
      h3
        padding 10px
        font-weight 200
    
    .carousel-control
      background-image none
      opacity .5
      .fa
        position absolute
        top 50%
        &.fa-chevron-left
          right 50%
        &.fa-chevron-right
          left 50%
