footer-spacing = 25px

.footer
  margin-top footer-spacing
  width 100%
  background-color #f6f6f6
  p
    margin footer-spacing 0
    &:first-child
      margin-bottom footer-spacing - 5px
    &:last-child
      margin-top footer-spacing - 5px
    text-align center
    // Snapchat icon
    img
      margin-left 20px
      width 14px
