.albums .album
  float left
  opacity 1
  background-color #ddd
  .title
    position relative
    top -20px
    margin-top 0
    margin-bottom -20px
    color #fff
    background-color #000
    opacity 0.75
    width 100%
    text-align center
    display none
  &:hover
    opacity 0.8
    .title
      display block
      text-decoration none
      
  img
    width 256px

.pictures img
  width 256px
  float left
