template(name='calendar')
  // Temporal URL. TODO: lower resolution
  img.calendar(src="https://dl.dropboxusercontent.com/content_link/Yan3Gl8XrUqxQboZShIdP7w5ekpJdHWbvQSZDUTTS52Lpvwb1xaX6AALWyfefjei")
