template(name="categories")
  .row
    .col-md-8.articles
      .category-title(style=backgroundColor)
        h1= categoryName
      each articles
        +articleItem
      if noArticles
        p.lead Aún no se han publicado artículos en esta categoría.
      if nextPath
        hr
        a.btn.btn-default(href=nextPath)
          span.fa.fa-plus 
          | Ver más
      else
        unless ready
          +spinner
    .col-md-4
      +sidebar
