template(name="articleIndex")
  if showCarousel
    +carousel
  if showLogo
    img.mobile-logo(src="/images/logos/sidebar.png")
  .row
    .col-md-8.articles
      each articles
        +articleItem
      if nextPath
        hr
        a.btn.btn-default(href=nextPath)
          span.fa.fa-plus 
          | Ver más
      else
        unless ready
          +spinner
    .col-md-4
      +sidebar
