template(name="articleIndex")
  if countIsPositive
    +carousel
  .row
    .col-md-8.articles
      each articles
        +articleItem
      if nextPath
        a.btn.btn-default(href=nextPath)
          span.fa.fa-plus 
          | Ver más
    .col-md-4
      +sidebar
