template(name="articleItem")
  .article
    .article-header
      a.title(href="{{pathFor 'articleShow'}}")
        h2= title
      .category
        +categoryCircle(categoryOptions)
    p.muted Fecha en Español | por #{author}
    a(href="{{pathFor 'articleShow'}}")
      img.carousel-img(src=carouselImage)
    p= trimmedContent
    br
