template(name="articleForm")
  h2= formTitle
  form
    .form-group
      label Title
      input#title.form-control(type="text" placeholder="Title" value=title)
    .form-group
      label Author
      input#author.form-control(type="text" placeholder="Author" value=author)
    .form-group
      label Category
      select#category.form-control
        each categories
          option(value=value)= name
    .form-group
      label Carousel image (recommended width: 1024px)
      input#carouselImage.form-control(type="url" placeholder="Insert URL" disabled)
    .form-group
      label Content
      textarea#content(placeholder="Content").form-control= content
    br
    button.btn.btn-primary(type="submit") Post
    br

template(name="articleNew")
  +articleForm

template(name="articleEdit")
  +articleForm
