template(name="articleItem")
  .article
    .article-header
      a.title(href="{{pathFor 'articleShow'}}")
        h2= title
      .category
        +categoryCircle(categoryOptions)
    img.carousel-img(src=carouselImage)
    p= content
