template(name="articleIndex")
  if countIsPositive
    +carousel
  .row
    .col-md-8.articles
      if countIsPositive
        each articles
          +articleItem
      else
        br
        p.lead Aún no se han publicado artículos.
    .col-md-4
      +sidebar
