template(name="notificationForm")
  h2 Manage Notifications
  form
    .form-group
      label Notification message
      input#message.form-control(type="text" value=message)
    .form-group
      label Icon
        | (<a target="_blank" href="https://fortawesome.github.io/Font-Awesome/icons/">see all available icons</a>)
      input#icon.form-control(type="text" value=icon)
    br
    button.btn.btn-primary(type="submit") Save
    br
