template(name="notificationForm")
  h2 Manage Notifications
  form
    .form-group
      label Notification message
      input.form-control(type="text" value=message)
      br
      button.btn.btn-primary(type="submit") Save
      br
