template(name="pictureForm")
  form.form-inline
    .form-group
      label URL
      input.form-control(type="url" placeholder="URL..." value=url)
    button.save-picture.btn.btn-default(type="button")
      span.fa.fa-check
    button.remove-picture.btn.btn-default(type="button")
      span.fa.fa-trash
