template(name="adminNavbar")
  nav.navbar.navbar-default.admin-navbar
    .container
      // Brand and toggle get grouped for better mobile display
      #collapse-2.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-left
          li.dropdown
            a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
              span.fa.fa-plus
              span.caret
            ul.dropdown-menu
              li
                a(href="{{pathFor 'articleNew'}}") Article
              li
                a(href="{{pathFor 'albumNew'}}") Album
              li
                a(href="{{pathFor 'notificationForm'}}") Notification
        ul.nav.navbar-nav.navbar-right
          +loginButtons
