template(name="footer")
  footer.footer
    .container
      p
        span.fa.fa-instagram
        | @theceptimes
        img(src="/images/icons/snapchat.png")
        | tctimes
      p.text-muted Si quieres que publiquemos uno de tus artículos o tienes sugerencias
        br
        | de temas para articulos, escríbenos a
        a.copy(href="mailto:theceptimes@outlook.com") theceptimes@outlook.com
