template(name="sidebar")
  .sidebar.hidden-xs(data-spy="affix")
    img(src="/images/logos/sidebar.png")
    +search
    ul
      each categories
        li
          +categoryCircle
          p.lead= name
