template(name="sidebar")
  .sidebar.hidden-xs
    img(src="/images/logos/sidebar.png")
    ul
      each categories
        li
          +categoryCircle
          p.lead= name
  
  script.
    // Hack to fix sidebar after it reaches top
    $(function(){
      var sidebar = $('.sidebar')
      var w = sidebar.width();
      var h = sidebar.offset().top;
      //trackSidebarScroll(w, h);
    });
